Repository PLNech/Propagation, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, dependencies, game-mechanics, ci, assets

.github/labeler.yml:

# Configuration for PR labeler
# Add 'frontend' label to any change to src/components files
frontend:
- src/components/**/*
- src/app/**/*

# Add 'backend' label to any change to API routes
backend:
- src/api/**/*

# Add 'documentation' label to any change to markdown files
documentation:
- '**/*.md'
- 'doc/**/*'

# Add 'dependencies' label to any change in package files
dependencies:
- package.json
- package-lock.json

# Add 'game-mechanics' label to changes in core game files
game-mechanics:
- src/components/game/core/**/*
- src/data/**/*

# Add 'ci' label to any change to .github/workflows files
ci:
- .github/workflows/**/*
- scripts/**/*

# Add 'assets' label to changes in asset files
assets:
- assets/**/*
- public/**/*

wf: v2
  .github/issue-labeler.yml
  .github/workflows/french-validator.yml
  .github/workflows/lighthouse.yml
Labels: ci

feat: Actions and docs
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
  .github/workflows/build-check.yml
  README.md
Labels: documentation, ci

Create dependabot.yml
  .github/dependabot.yml
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: documentation

feat: Patreon
  .funding/posts/2025_current_eras.png
  .funding/posts/2025_roadmap_eras.md.png
  .funding/posts/2025_roadmap_gaslight2.png
  .funding/posts/2025_roadmap_theories.png
  .funding/posts/code_gaslight1.png
  .funding/posts/code_gaslight2.png
  .funding/posts/code_gaslight3.png
  .funding/posts/code_gaslight4.png
  .funding/posts/code_gaslight5.png
  .funding/posts/patreon_secrets.png
  .funding/tiers.md
  .gitignore
  assets/header.png
  assets/maker.png
  scripts/patreon/ideate.sh
  scripts/patreon/write.sh
Labels: documentation, ci, assets

readme+invit
  README.md
  src/app/invitation/page.tsx
  src/app/invitation/styles.css
Labels: frontend, documentation

refactor: Clean tabs unlock
  src/app/invitation/layout.tsx
  src/app/invitation/page.tsx
  src/components/game/PropagationGame.tsx
  src/components/game/core/gameReducer.ts
  src/components/game/modals/WelcomeModal.tsx
  src/components/game/ui/GameButtons.tsx
  src/data/eraData.ts
Labels: frontend, game-mechanics

fix: Mobile modals
  src/components/game/modals/GameEndingModal.tsx
  src/components/game/modals/ScenarioModal.tsx
  src/components/game/modals/TutorialModal.tsx
  src/components/game/modals/WelcomeModal.tsx
  src/components/game/ui/AboutPage.tsx
Labels: frontend
